

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/detect.js"></script>
<script src="../js/fastclick.js"></script>
<script src="../js/jquery.slimscroll.js"></script>
<script src="../js/jquery.blockUI.js"></script>
<script src="../js/waves.js"></script>
<script src="../js/wow.min.js"></script>
<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/jquery.scrollTo.min.js"></script>
<script src="../js/moment.min.js"></script>
<!--<script src="../js/bootstrap-datepicker.js"></script>-->
<!--<script src="../js/bootstrap-datepicker.min.js"></script>-->
<script type="text/javascript" src="../js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->

<script src="../plugins/peity/jquery.peity.min.js"></script>

 <!--jQuery  -->
<script src="../plugins/waypoints/lib/jquery.waypoints.js"></script>
<script src="../plugins/counterup/jquery.counterup.min.js"></script>



<!--<script src="../plugins/morris/morris.min.js"></script>-->
<!--<script src="../plugins/raphael/raphael-min.js"></script>-->

<!--<script src="../plugins/jquery-knob/jquery.knob.js"></script>-->

<!--<script src="../pages/jquery.dashboard.js"></script>-->

<script src="../js/jquery.core.js"></script>
<script src="../js/jquery.app.js"></script>

<script src="../plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="../pages/jquery.bs-table.js"></script>

<script src="../plugins/notifyjs/dist/notify.min.js"></script>
<script src="../plugins/notifications/notify-metro.js"></script>


<script src="../js/common/wegarden.comm.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $("#sidebar-menu li.has_sub").each(function(){
            var this_ = this;
            var liString = $(this).data("url");
            var urlHref = window.location.pathname;

            if(urlHref.indexOf(liString.trim()) >= 0){
                $("#sidebar-menu li.has_sub").find('a').removeClass('active');
                $(this).find('a').addClass('active');
            }else if(urlHref.trim() == "/stock/index"){
                $("#sidebar-menu li.has_sub").find('a').removeClass('active');
                $("#sidebar-menu li.has_sub").find('.stock_tap').addClass('active');
                $("#sidebar-menu li.has_sub").find('.stock_tap_sub').addClass('active');
                $( ".stock_tap").next().slideDown();
            }else if(urlHref.trim() == "/refrigerator/index"){
                $("#sidebar-menu li.has_sub").find('a').removeClass('active');
                $("#sidebar-menu li.has_sub").find('.stock_tap').addClass('active');
                $("#sidebar-menu li.has_sub").find('.refrig_tap').addClass('active');
                $( ".stock_tap").next().slideDown();
            }else if(liString.trim() == "dashboard"){
                $("#sidebar-menu li:eq(1) a").addClass('active');
            }
        });

        $(document).on("click", ".stock_tap", function () {
            $(this).next().slideToggle();
        });
    });
</script>