

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/detect.js"></script>
<script src="../js/fastclick.js"></script>
<script src="../js/jquery.slimscroll.js"></script>
<script src="../js/jquery.blockUI.js"></script>
<script src="../js/waves.js"></script>
<script src="../js/wow.min.js"></script>
<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/jquery.scrollTo.min.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/bootstrap-datepicker.js"></script>
<script src="../js/bootstrap-datepicker.min.js"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->

<script src="../plugins/peity/jquery.peity.min.js"></script>

 <!--jQuery  -->
<script src="../plugins/waypoints/lib/jquery.waypoints.js"></script>
<script src="../plugins/counterup/jquery.counterup.min.js"></script>



<!--<script src="../plugins/morris/morris.min.js"></script>-->
<!--<script src="../plugins/raphael/raphael-min.js"></script>-->

<!--<script src="../plugins/jquery-knob/jquery.knob.js"></script>-->

<!--<script src="../pages/jquery.dashboard.js"></script>-->

<script src="../js/jquery.core.js"></script>
<script src="../js/jquery.app.js"></script>

<script src="../plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="../pages/jquery.bs-table.js"></script>

<script src="../js/common/wegarden.comm.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        /*$('.counter').counterUp({
            delay: 100,
            time: 1200
        });*/

        // $(".knob").knob();

        $("#sidebar-menu li.has_sub").each(function(){
            // var liString = $(this).find('span').text().find('span').text().toLowerCase();
            var this_ = this;
            console.log($(this).data("url"))
            var liString = $(this).data("url");
            var urlHref = window.location.pathname;

            if(urlHref.indexOf(liString.trim()) >= 0){
                $("#sidebar-menu li a").removeClass('active');
                $(this).find('a').addClass('active');
            }else if(liString.trim() == "/stock/refrigerator"){
                if(urlHref.indexOf($(this_).find('li.sub:eq(0)').data("url")) >= 0){
                    $(this).find('li.sub:eq(0)').addClass('active');
                }

                if(urlHref.indexOf($(this_).find('li.sub:eq(1)').data("url")) >= 0){
                    $(this).find('li.sub:eq(1)').addClass('active');
                }

                $("#sidebar-menu li a").removeClass('active');
                $(this_).find('a').addClass('active');
                $( ".product_tap").next().slideDown();
            }else if(liString.trim() == "dashboard"){
                $("#sidebar-menu li:eq(1) a").addClass('active');
            }
        });

        $(document).on("click", ".product_tap", function () {
            $(this).next().slideToggle();
        });
    });
</script>