<div th:fragment="left-sidebar">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>

                    <li class="text-muted menu-title">Navigation</li>
                    <li class="has_sub" data-url="dashboard">
                        <a th:href="@{/}" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </a>
                    </li>

                    <li class="has_sub" data-url="/order/select">
                        <a th:href="@{/order/select}" class="waves-effect"><i class="ti-receipt"></i> <span> Order Debt </span> </a>
                    </li>

                    <li class="has_sub" data-url="/product/index">
                        <a  th:href="@{/product/index}" class="waves-effect"><i class="ti-shopping-cart"></i> <span> Items </span> </a>
                    </li>

                    <li class="has_sub" data-url="/stock/refrigerator">
                        <a href="javascript:" class="waves-effect stock_tap"><i class="ti-server"></i>Stock<span class="caret" style="margin-left: 17px;"></span></a>
                        <ul class="list-unstyled" style="display: none;">
                            <li class="sub stock_tap_sub" data-url="/stock/index"><a th:href="@{/stock/index}">Stock</a></li>
                            <li class="sub refrig_tap" data-url="/refrigerator/index"><a th:href="@{/refrigerator/index}">WeGarden</a></li>
                        </ul>
                    </li>

                    <li class="has_sub" data-url="/users/select">
                        <a th:href="@{/users/select/}" class="waves-effect"><i class="ti-user"></i> <span> Users </span> </a>
                    </li>

                    <li class="has_sub" data-url="/teatime/index">
                        <a th:href="@{/teatime/index}" class="waves-effect">
                            <!--<i class="fa fa-users"></i>-->
                            <img th:src="@{/images/user-group.png}">
                            <span style="margin-left: 15px"> Tea Time </span>
                        </a>
                    </li>
                    <li class="has_sub" data-url="/bronze_master/index">
                        <a th:href="@{/bronze_master/index}" class="waves-effect">
                            <i class="ti-medall" style="font-size: 1.5em"></i>
                            <!--<img th:src="@{/images/user-group.png}">-->
                            <span> Bronze Master </span>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Left Sidebar End -->
</div>

<script type="text/javascript">
    jQuery(document).ready(function($) {

    });
</script>