<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="_csrf" content="${_csrf.token}"/>
        <meta name="_csrf_header" content="${_csrf.headerName}"/>
        <title th:text="Product-List"></title>

        <style>
            table > thead > tr > th{background-color: #ffffff !important;}
            table tbody > tr > td{font-size: 1.07em;}
            table thead tr {background-color: #ebeff2;}
            table tbody tr:nth-child(even) {background-color: #fdfdfd;cursor: pointer;}
            table tbody tr:nth-child(odd)  {background-color:#f4f8fb;cursor: pointer;}
            table tbody tr:hover  {background-color: #ebeff2;cursor: pointer;}
            .btn-custom-color{ background-color: #5fbeaa !important;border: 1px solid #5fbeaa !important; }
            .btn-custom-color:hover{ background-color: #5fbeaa !important;border: 1px solid #5fbeaa !important; }
            .btn-custom-color:focus{ background-color: #5fbeaa !important;border: 1px solid #5fbeaa !important; }

            .pro-image{border-right: none;line-height: 40px;}
        </style>

    </head>
    <body>
        <!-- Begin page -->
        <div layout:fragment="content">
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content" style="margin-bottom: unset;">
                    <div class="container">

                        <!--Custom Toolbar-->
                        <!--===================================================-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box" style="">
                                    <h4 class="m-t-0 header-title"><b>Items List</b></h4>
                                    <p class="text-muted font-13">
                                        <label>Function: </label> Search, Create , Update and Delete product.
                                    </p>

                                    <!--<button id="demo-delete-row" class="btn btn-danger"><i class="fa fa-times m-r-5"></i>Delete</button>-->
                                    <div class="fixed-table-toolbar">
                                        <div class="bars pull-left">
                                            <div class="bars pull-left">
                                                <!--<button id="btnDeletePro" class="btn btn-danger"><i class="fa fa-times m-r-5"></i>Delete</button>-->
                                                <button type="button" id="btnAddPro" class="btn btn-info btn-custom-color"><i class="fa fa-plus m-r-5"></i>Add Item</button>
                                            </div>
                                        </div>
                                        <div class="pull-right search" style="display: inline-flex;">
                                            <input class="form-control" type="text" placeholder="Search" autocomplete="off" id="srch_wd">
                                            <button id="demo-search-row" class="btn btn-warning btn-custom-color" style="margin-left: -5px;" onclick="fnSearch();"><i class="fa fa-search m-r-5"></i></button>
                                        </div>
                                    </div>

                                    <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title" id="txtSave" data-status="I" data-uuid="">Add Item</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pro_nm" class="control-label">Item</label>
                                                                <input type="text" class="form-control" id="pro_nm" placeholder="product name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pro_category" class="control-label">Category</label>
                                                                <select class="form-control col-sm-12 custom-select"  id="pro_category">
                                                                    <option>Food</option>
                                                                    <option>Drink</option>
                                                                    <option>Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pro_price" class="control-label">Unit Price</label>
                                                                <!--onkeydown="wegarden.comm.numberOnly(event)"-->
                                                                <input type="text" class="form-control" id="pro_price" maxlength="4" placeholder="product price">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pro_quantity" class="control-label">Quantity<span style="opacity: 0.4;">/perbox</span></label>
                                                                <input type="text" onkeypress="javascript:return isNumber(event)" class="form-control" id="pro_quantity" maxlength="4" placeholder="product quantity">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-sm-12" style="">
                                                            <img style="object-fit: cover;display: block;border: solid 1px #ddd;margin: 0 auto;border-radius: 50%;margin-bottom: 15px;" id="myImage" class="roundrect" width="130px" height="130px" data-toggle="lightbox" src="../images/imageDefault2.svg">
                                                            <input type="hidden" name="proImUuid" id="proImUuid" value="" />
                                                        </div>
                                                        <div class="fileUpload btn btn-default" id="myImageFile" style="margin: 0 auto;display: table;border-radius: 26em;">
                                                            <span>Choose Image</span>
                                                        </div>
                                                        <form action="http://192.168.178.130:1124/file_upload" id="myForm" method="POST" enctype="multipart/form-data" style="display: none;">
                                                            <input type="file" name="files" class="upload" id="myFile" accept="image/*" placeholder="" style="background-color: white;border: 2px solid lightgrey;">
                                                        </form>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info waves-effect waves-light" id="btnSaveProduct">Save</button>
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.modal -->

                                    <div class="bootstrap-table">
                                        <div class="fixed-table-container" data-show-columns="true" style="padding-bottom: 0px;">
                                            <div class="fixed-table-body">
                                                <table data-toggle="" class="table table-bordered" id="tbl_product">
                                                    <colgroup>
                                                        <col style="width:10px;">
                                                        <col style="width:490px;">
                                                        <col style="width:80px;">
                                                        <col style="width:80px;">
                                                        <col style="width:80px;">
                                                        <col style="width:50px">
                                                        <col>
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th style="" colspan="2">
                                                                <div class="th-inner" style="text-align: center;">Item</div>
                                                            </th>
                                                            <th style="">
                                                                <div class="th-inner ">Unit Price</div>
                                                            </th>
                                                            <th style="">
                                                                <div class="th-inner ">Stock Qty</div>
                                                            </th>
                                                            <th style="">
                                                                <div class="th-inner ">WeGarden Qty</div>
                                                            </th>
                                                            <th style="text-align: center;">
                                                                <div class="th-inner ">Action</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="table_result">
                                                        <tr data-index="0">
                                                            <td class="bs-checkbox"><input data-index="0" name="btSelectItem" type="checkbox"></td>
                                                            <td class="user-image" style="width: 10px;border-right: none; "><img src="/images/b-tou.png" alt="user-img" class="img-circle" width="30px" /></td>
                                                            <td style="border-left: none;"><a href="#" class="btn-link">Coca Cola</a></td>
                                                            <td style="">$0.5</td>
                                                        </tr>
                                                    </tbody>
                                                    <div class="panel-disabled loading-stock" style="display: none;">
                                                        <div class="loader-1"></div>
                                                    </div>
                                                </table>
                                            </div>
                                            <div class="fixed-table-pagination" style="display: none;">
                                                <div class="pull-left pagination-detail" id="page_layer">
                                                    <span class="pagination-info">Showing 1 to 10 of 16 rows</span>
                                                    <span class="page-list">
                                              <span class="btn-group dropup">
                                                 <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
                                                     <span class="page-size" id="per_page">10</span> <span class="caret"></span>
                                                 </button>
                                                 <ul class="dropdown-menu" role="menu" id="pageSizeLayer">
                                                     <li><a href="javascript:void(0)">5</a></li>
                                                    <li class="active"><a href="javascript:void(0)">10</a></li>
                                                    <li><a href="javascript:void(0)">25</a></li>
                                                 </ul>
                                              </span>
                                              records per page
                                            </span>
                                                </div>
                                                <div class="pull-right pagination">
                                                    <ul class="pagination" id="paging" style="display: none;">
                                                        <li class="page-first disabled"><a href="javascript:void(0)">«</a></li>
                                                        <li class="page-pre disabled"><a href="javascript:void(0)">‹</a></li>
                                                        <li class="page-number active"><a href="javascript:void(0)">1</a></li>
                                                        <li class="page-number"><a href="javascript:void(0)">2</a></li>
                                                        <li class="page-next"><a href="javascript:void(0)">›</a></li>
                                                        <li class="page-last"><a href="javascript:void(0)">»</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>


                    </div> <!-- container -->

                </div> <!-- content -->

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
            <!--<th:block layout:fragment="myscript">-->
            <script type="text/javascript">
                var imageSrc_ = "";
                var categoryrec_ = [];
                $(function(){
                    _thisPage.onload();
                });

                var _thisPage = {
                    onload : function () {
                        var _this = this;
                        _this.event();
                        _this.getCategoryList();
                        fnSearch();
                        console.log("cat length:: "+categoryrec_)
                    },
                    fillTable : function (input) {
                        if(!input) input = {};
                        input["SRCH_WD"] = $("#srch_wd").val().toString().trim();

                        $.ajax({
                            type    : "GET",
                            url       : "/product/get_product_list",
                            data    : input,
                            headers : {
                                "Content-Type"  : "application/json;",
                                "charset"       : "UTF-8"
                            },
                            success : function (result) {
                                $("#table_result").empty();
                                $(".bs-checkbox").show();
                                $("#page_layer").show();
                                $(".bs-checkbox").attr("checked", false);
                                var strHtml = "", usr_image = "", arrCate = [];

                                if(!wegarden.comm.isEmpty(result.DATA_REC)){
                                    $.each(result.DATA_REC, function (i, v) {
                                        usr_image = wegarden.comm.isEmpty(v.product_image_name) ? "/images/default_user.png" : wegarden.comm.null2Void(v.product_image_name, '');

                                        console.log("length:: "+categoryrec_.length)
                                        for(var i = 0; i < categoryrec_.length; i++){
                                            console.log(1)
                                            if(v.category_name == categoryrec_[i] && arrCate[i] != categoryrec_[i]){
                                                console.log(2)
                                                arrCate.push(categoryrec_[i]);
                                                strHtml += '<tr  class="cat'+v.category_name+'" style="background-color: #f1f1f1;"><td style="border-left: none;font-style: italic;padding: 10px 12px !important;" colspan="6"><b>'+categoryrec_[i]+'</b></td></tr>';
                                            }
                                        }

                                        strHtml +='<tr data-uuid="'+v.product_uuid+'">';
                                        strHtml +='    <td class="user-image pro-image">';
                                        strHtml +='    	<img src="'+_imageApiUrl+usr_image+'" alt="item-img" class="img-circle" width="40px" height="40px" />';
                                        strHtml +='    </td>';
                                        strHtml +='    <td style="border-left: none;line-height: 40px;">'+wegarden.comm.null2Void(v.product_name)+'</td>';
                                        strHtml +='    <td style="line-height: 40px;">'+addCurrencySymbol(v.product_price)+'</td>';
                                        strHtml +='    <td style="line-height: 40px;">'+wegarden.comm.null2Void(v.stock_quantity)+'</td>';
                                        strHtml +='    <td style="line-height: 40px;">'+wegarden.comm.null2Void(v.refrigerator_quantity)+'</td>';
                                        strHtml +='    <td style="line-height: 40px;" class="act_btn text-center">';
                                        strHtml +='      <button type="button" class="btn btn-primary btn-xs" onclick=editProduct("'+v.product_uuid+'");><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>';
                                        strHtml +='      <button type="button" class="btn btn-danger btn-xs" onclick=deleteProduct("'+v.product_uuid+'");><i class="fa fa-trash-o" aria-hidden="true"></i></button>';
                                        strHtml +='    </td>';
                                        strHtml +='</tr>';

                                    });
                                    $("#table_result").append(strHtml);
                                }else{
                                    $(".bs-checkbox").hide();
                                    $("#page_layer").hide();
                                    $("#table_result").append("<tr><td class='text-center' colspan='6'>There is no data.</td></tr>");
                                }
                                setTimeout(function () {
                                    // $("#loading").hide();
                                }, 300);

                            },
                            error: function (error) {
                                console.log(error);
                                $("#table_result").append("<tr><td class='text-center' colspan='6'>There is no data.</td></tr>");
                            }
                        });
                    },
                    getCategoryList : function(input){
                        $.ajax({
                            type    : "GET",
                            url       : "/product/get_categorry_lists",
                            data    : {"STATUS":"1"},
                            headers : {
                                "Content-Type"  : "application/json;",
                                "charset"       : "UTF-8"
                            },
                            success : function (result) {

                                $("#pro_category").empty();
                                var catHtml = "";
                                console.log("category is called....")
                                categoryrec_ = []
                                $.each(result.DATA_REC, function (i,v) {
                                    catHtml += '<option data-uuid="'+v.uuid+'">'+wegarden.comm.null2Void(v.name)+'</option>';
                                    categoryrec_.push(v.name);
                                });
                                $("#pro_category").html(catHtml);

                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });
                    },
                    saveProduct : function(input){
                        if(!input) input = {};

                        input["PRO_NM"]      = $.trim($("#pro_nm").val());
                        input["PRO_PRICE"]  = parseFloat($.trim($("#pro_price").val()).replace("$",""));
                        input["PRO_QTY_BOX"]  = parseFloat($.trim($("#pro_quantity").val()));
                        input["CATE_UUID"]  = $("#pro_category option:selected").data("uuid");
                        // input["FILE_NAME"]   = input.FILE_NAME;
                        // input["EXTENSION"] = input.EXTENSION;
                        input["IMG_UUID"]   = input.IMG_UUID;
                        input["PRO_UUID"]   = $("#txtSave").data("uuid");

                        var requestUrl = "";
                        var saveStatus = $("#txtSave").data("status");
                        (saveStatus == "U" ? requestUrl = "/product/update_product_data" : requestUrl = "/product/save_product_data");
                        console.log(input);

                        $.ajax({
                            type    : "GET",
                            url       : requestUrl,
                            data    : input,
                            headers : {
                                "Content-Type"  : "application/json;",
                                "charset"       : "UTF-8"
                            },
                            success : function (result) {
                                if(result.status){
                                    fnSearch();
                                    $("#myFile").val("");
                                    $('#con-close-modal').modal('hide');
                                }else{
                                    $('#con-close-modal').modal('show');
                                }
                            },
                            error: function (error) {
                                $("#btnSaveProduct").attr("data-dismiss", "none");
                                $('#con-close-modal').modal('show');
                                console.log(error);
                            }
                        });
                    },
                    searchProductRow : function (input) {
                        if(!input) input = {};
                        input["PRO_UUID"] = input.PRO_UUID;

                        $.ajax({
                            type    : "GET",
                            url       : "/product/get_product_list",
                            data    : input,
                            headers : {
                                "Content-Type"  : "application/json;",
                                "charset"       : "UTF-8"
                            },
                            success : function (result) {
                                $.each(result.DATA_REC, function (i,v) {
                                    $("#pro_nm").val(wegarden.comm.null2Void(v.product_name));
                                    $("#pro_price").val(addCurrencySymbol(wegarden.comm.null2Void(v.product_price)));
                                    $("#pro_quantity").val(wegarden.comm.null2Void(v.quantity_per_box,0));
                                    $("#myImage").attr("src", _imageApiUrl+wegarden.comm.null2Void(v.product_image_name));
                                    $("#proImUuid").val(wegarden.comm.null2Void(v.product_image_uuid,''));
                                    $("#pro_category option[data-uuid='"+v.category_uuid+"']").attr("selected","selected");

                                });
                            },
                            error: function (error) {
                                console.log(error);
                                $("#table_result").append("<tr><td class='text-center' colspan='9'>There is no data.</td></tr>");
                            }
                        });
                    },
                    fn_delete_product : function (input) {
                        if(!input) input = {};
                        input["PRO_UUID"] = input.PRO_UUID;
                        console.log(input)

                        $.ajax({
                            type    : "GET",
                            url       : "/product/delete_product",
                            data    : input,
                            headers : {
                                "Content-Type"  : "application/json;",
                                "charset"       : "UTF-8"
                            },
                            success : function (result) {

                                fnSearch();
                                if(result.status){
                                    swal({
                                        title: "Successful",
                                        text: "Your transaction has been successfully processed!",
                                        type: "success",
                                        showConfirmButton: false,
                                        timer: 1000
                                    });
                                }else{
                                    swal({
                                        title: "Failed",
                                        text: "Your transaction cannot be completed!",
                                        type: "error",
                                        showConfirmButton: false,
                                        timer: 2000
                                    });
                                }
                            },
                            error: function (error) {
                                console.log(error);
                                $("#table_result").append("<tr><td class='text-center' colspan='9'>There is no data.</td></tr>");
                            }
                        });
                    },
                    event : function () {
                        $("#srch_wd").keypress(function (e) {
                            if(e.which == 13){
                                fnSearch();
                            }
                        });

                        $("#btnAddPro").click(function () {
                            var input = {};
                            input["STATUS"] = "N";
                            open_popup(input);
                        });

                        $("#myImageFile").on("click", function () {
                            $("#myFile").trigger("click");
                        });

                        $("#myFile").on('change', function () {
                            var reader = new FileReader();
                            reader.onload = function () {
                                $('#myImage').attr('src', reader.result);
                                imageSrc_ = reader.result;
                            };
                            reader.readAsDataURL(this.files[0]);
                        });

                        $(document).on("click", ".btnAddStock", function(){
                            $(".stoAmt").show();
                            $(".btnAddStock").show();
                            $(".editStockLayer").addClass('hidden');
                            $(this).hide();
                            $(this).prev().hide();
                            $(this).next().removeClass('hidden');
                        });

                        $("input").focus(function () {
                            $(this).css("background-color", "white");
                        });

                        $(document).on("keyup", "#pro_price", function (e) {
                            // $(this).val(wegarden.comm.numberWithCommas(wegarden.comm.removeAllCommas($(this).val())));
                        });

                        $("#btnSaveProduct").click(function () {
                            var input = {};
                            validateBorderInputColor(true, function (hasEmptyTextbox) {
                                if (!hasEmptyTextbox) {
                                    if ($("#myFile").val()) {
                                        var xhr = new XMLHttpRequest();
                                        // xhr.open("POST", "/image/uploadimg");
                                        xhr.open("POST", "http://192.168.178.162:8080/wegarden/image/stock/file_upload");
                                        xhr.send(new FormData($('#myForm')[0]));
                                        xhr.onload = function() {
                                            if (this.readyState === 4 && this.status === 200) {
                                                // var dataPicture  = JSON.parse(this.responseText);
                                                var dataPicture  = JSON.parse(this.responseText);
                                                var jsonData      = JSON.stringify(dataPicture.data);
                                                var jsonPicture  = JSON.parse(jsonData.replace("[","").replace("]",""));

                                                // input["FILE_NAME"] = jsonPicture.file_name.split('.').slice(0, -1).join('.');
                                                // input["EXTENSION"] = "."+/[^.]+$/.exec(jsonPicture.file_name)[0];
                                                input["IMG_UUID"]   = jsonPicture.image_uuid;

                                                _thisPage.saveProduct(input);
                                            }
                                        }
                                        xhr.onerror = function(error) {
                                            console.log('There was an error!'+  JSON.stringify(error));
                                        };
                                    }else {
                                        input["IMG_UUID"]   = $("#proImUuid").val();
                                        _thisPage.saveProduct(input);
                                    }
                                }
                            });
                        });
                    }
                }

                function addCurrencySymbol(value_){
                    value_ = wegarden.comm.null2Void(value_, '0');
                    var isEmpty = wegarden.comm.isEmpty(value_);
                    var formatValue = wegarden.comm.formatCurrency(value_);

                    if(!isEmpty && value_ != "0"){
                        return formatValue = "$"+formatValue;
                    }else{
                        return formatValue;
                    }
                }

                function isNumber(evt) {
                    var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                    if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                        return false;

                    return true;
                }

                function editProduct(pro_uuid) {
                    var input = {};
                    input["STATUS"] = "U";
                    input["PRO_UUID"] = pro_uuid;

                    open_popup(input);
                }

                function deleteProduct(proUuid){
                    var input = {};
                    input["PRO_UUID"] = proUuid;
                    swal({
                            title               : "Are you sure ?",
                            text                : "You will be able to recover this record from trash!",
                            type                : "info",
                            cancelButtonText    : "No, thanks!",
                            confirmButtonText   : 'Yes, delete it!',
                            confirmButtonColor  : '#ff5e6e',
                            showCancelButton    : true,
                            closeOnCancel       : true,
                            closeOnConfirm      : false
                        },
                        function(isConfirm) {
                            if (isConfirm) {
                                _thisPage.fn_delete_product(input);
                            }
                        });
                }

                function open_popup(input_){
                    $('#con-close-modal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    $('#con-close-modal').modal('show');

                    if(input_.STATUS == "U"){
                        $("#txtSave").text("Update Item");
                        $("#txtSave").data("status","U");
                        $("#txtSave").data("uuid",input_.PRO_UUID);
                        _thisPage.searchProductRow(input_);
                    }else{
                        $('#myImage').attr('src','../images/imageDefault2.svg');
                        $('input#pro_nm').val('');
                        $('input#pro_price').val('');
                        $('input#pro_quantity').val('');
                        $("#quantityRow").hide();
                    }
                }

                function fnSearch() {
                    top.$("#loading").show();
                    _thisPage.fillTable();
                    setTimeout(function () {
                        top.$("#loading").hide();
                    }, 300);
                }

                function validateBorderInputColor(validate, callback) {
                    var hasEmptyTextbox = false;

                    $('input').each(function () {
                        if (validate) {
                            if ($.trim($(this).val()) == "" && $(this).prop('required')) {
                                $(this).css("background-color", "#f9dfd8");
                                hasEmptyTextbox = true
                            }else{
                                $(this).css("background-color", "white");
                            }
                        }else{
                            $(this).css("border", "2px solid lightgrey");
                        }
                    });

                    if (validate) {
                        callback(hasEmptyTextbox);
                    }
                }

            </script>
            <!--</th:block>-->
        </div>

    </body>
</html>