<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="Refrigerator-List"></title>

        <style>
            table > thead > tr > th{background-color: #ffffff !important;}
            table tbody > tr > td{font-size: 1.07em;}
            table thead tr {background-color: #ebeff2;}
            table tbody tr:nth-child(even) {background-color: #fdfdfd;cursor: pointer;}
            table tbody tr:nth-child(odd)  {background-color:#f4f8fb;cursor: pointer;}
            table tbody tr:hover  {background-color: #ebeff2;cursor: pointer;}
            .action_layer{/* display: none; */position: absolute;top: 70px;right: 166px;border: 1px solid #999;width: 100px;background: #fff;box-shadow: 1px 1px 2px 0 #ccc;-webkit-box-shadow: 0 2px 5px 2px #ccc;}
            .pro-image{border-right: none;line-height: 40px;}
            .input-amt-stock{width: 100%;height: 30px;padding-left: 8px;}
            .btn-save-stock{float: right;margin-top: -5px;margin-left: 11px;color: #008000;}
            .btn-canc-stock{float: right;margin-left: 5px;margin-top: -5px;color: #FF0000;}
            .input-amt-refri{width: 100%;height: 30px;margin-left: -10px;padding-left: 8px;}
            .btn-save-refrig{float: right;margin-top: -5px;margin-left: 11px;color: #008000;}
            .btn-canc-refrig{float: right;margin-left: 5px;margin-top: -5px;color: #FF0000;}
            .edit-row{font-size: 0.8em;}
            .custom-table1{ overflow-x: hidden;overflow-y: auto;height: 470px; }
            .bootstrap-table .table, .bootstrap-table .table > tbody > tr > td, .bootstrap-table .table > tbody > tr > th, .bootstrap-table .table > tfoot > tr > td, .bootstrap-table .table > tfoot > tr > th, .bootstrap-table .table > thead > tr > td {
                padding: 8px 5px !important;
            }
            /*.table-fixed tbody {*/
            /*height: 230px;*/
            /*overflow-y: auto;*/
            /*width: 100%;*/
            /*}*/
            /*.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {*/
            /*display: block;*/
            /*}*/
            .form-control {
                margin-left: 2px !important;
            }

            .tableFixHead thead th { position: sticky; top: 0; }
            /* Just common table stuff. Really. */
            table  { border-collapse: collapse; width: 100%; }
            table  { width: 100%; }
            th, td { padding: 8px 16px; }
            th     { background:#eee; }
            .tableFixHead th { border-top: 1px solid #ebeff2 !important;border-bottom: 1px solid #ebeff2 !important; }


            .tableFixHead          {overflow-y: auto;height: 33em;}
            .tableFixHead thead th { position: sticky; top: 0; }
            /* Just common table stuff. Really. */
            table  { border-collapse: collapse; width: 100%; }
            th, td { padding: 8px 16px; }
            th     { background:#eee; }

            /* Borders (if you need them) */
            .tableFixHead { border: 1px solid #ebeff2; border-left: 0; border-right: 0; }
            .tableFixHead th, td { border: 1px solid #ebeff2; border-top: 0; }
            .tableFixHead tbody tr:last-child td { border-bottom: 0; }
            .tableFixHead thead th { box-shadow: 1px 1px 0 #ebeff2; }
        </style>

    </head>
    <body>
        <!-- Begin page -->
        <div layout:fragment="content">
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content" style="margin-bottom: unset;">
                    <div class="container">

                        <!--Custom Toolbar-->
                        <!--===================================================-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box" >
                                    <h4 class="m-t-0 header-title"><b>Refrigerator List</b></h4>
                                    <p class="text-muted font-13">
                                        <label>Function: </label> Add product to sell on refrigerator.
                                    </p>

                                    <div class="fixed-table-toolbar">
                                        <div class="bars pull-left">
                                            <div class="bars pull-left">
                                                <!--<button id="btnDeletePro" class="btn btn-danger"><i class="fa fa-times m-r-5"></i>Delete</button>-->
                                                <button id="btnCheckReport" class="btn btn-info" style="background-color: #5fbeaa !important; border: 1px solid #5fbeaa !important;" data-target="#con-close-modal"><i class="fa fa-bar-chart m-r-5"></i>Report</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog" id="modal_product" style="display: none;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title" data-status="I" data-uuid="">Product Detail</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pro_nm" class="control-label">Items</label>
                                                                <input type="text" class="form-control" id="pro_nm" placeholder="product name" disabled="disabled">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pro_category" class="control-label">Category</label>
                                                                <select class="form-control col-sm-12 custom-select"  id="pro_category" disabled="disabled">
                                                                    <option>Food</option>
                                                                    <option>Drink</option>
                                                                    <option>Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pro_price" class="control-label">Unit-Price</label>
                                                                <input type="text" onkeypress="javascript:return isNumber(event)" class="form-control" id="pro_price" maxlength="4" placeholder="product price" disabled="disabled">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pro_quantity" class="control-label">Quantity/per box</label>
                                                                <input type="text" onkeypress="javascript:return isNumber(event)" class="form-control" id="pro_quantity" maxlength="4" placeholder="product Quantity" disabled="disabled">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-sm-12" style="">
                                                            <img style="object-fit: cover;display: block;border: solid 1px #ddd;margin: 0 auto;border-radius: 50%;margin-bottom: 15px;" id="myImage" class="roundrect" width="130px" height="130px" data-toggle="lightbox" src="../images/imageDefault2.svg">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer" style="text-align: center;">
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-dialog modal-lg" id="modal_report">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title" id="txtSave" data-status="I" data-uuid="">View Report</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="sDate" class="control-label " >Select Date</label>
                                                                <div class="input-group date" id="sDate" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" >
                                                                    <input type="text" class="form-control">
                                                                    <div class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-th"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="input-group date" id="eDate" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" style="margin-top: 25px;">

                                                                    <input type="text" class="form-control" style="background-color: white;">
                                                                    <div class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-th"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="bars pull-left" style="margin-top: 25px;">
                                                             <a  style="color: black"  th:href="@{/refrigerator/download}">
                                                                <button id="btnDownloadExcel" class="btn btn-success" data-target="#con-close-modal">

                                                                    <i class="fa fa-download m-r-5" id="download"></i>
                                                                    Excel
                                                                </button>
                                                             </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-12" style="">
                                                            <div class="bootstrap-table custom-table1">
                                                                <div class="fixed-table-container" data-show-columns="true" style="padding-bottom: 0px;">
                                                                    <div class="tableFixHead">
                                                                        <span class="bg-hide" style="position: fixed;width: 91%;top: 12em;background: #eeeeee;height: 22px;">&nbsp;</span>
                                                                        <table data-toggle="" class="table table-bordered table-fixed" id="tbl_report">
                                                                            <colgroup>
                                                                                <col style="width:10px;">
                                                                                <col style="width:450px;">
                                                                                <col style="width:40px;">
                                                                                <col style="width:40px;">
                                                                                <col>
                                                                            </colgroup>
                                                                            <thead style="background-color: #788496">
                                                                            <tr>
                                                                                <th colspan="2"><div class="th-inner" style="text-align: center;">Items</div></th>
                                                                                <th><div class="th-inner ">Unit-Price</div></th>
                                                                                <th><div class="th-inner ">Add-Stock</div></th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody id="table_report-result">
                                                                            <tr data-index="0">
                                                                                <td class="user-image" style="width: 10px;border-right: none; "><img src="/images/oisihi_2019042631.jpg" alt="user-img" class="img-circle" width="40px" /></td>
                                                                                <td style="border-left: none;line-height: 40px;">Oishi</td>
                                                                                <td style="line-height: 40px;">$0.5</td>
                                                                                <td style="line-height: 40px;">180</td>
                                                                            </tr>
                                                                            <tr data-index="0">
                                                                                <td class="user-image" style="width: 10px;border-right: none; "><img src="/images/bacchus_2019042631.jpg" alt="user-img" class="img-circle" width="40px" /></td>
                                                                                <td style="border-left: none;line-height: 40px;">Bacchus</td>
                                                                                <td style="line-height: 40px;">$0.5</td>
                                                                                <td style="line-height: 40px;">180</td>
                                                                            </tr>
                                                                            </tbody>
                                                                            <div class="panel-disabled loading-stock-pop" style="display: none;">
                                                                                <div class="loader-1"></div>
                                                                            </div>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="text-align: center;">
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--Ifram to downdload Excel-->
                                    <iframe id="txtArea1" style="display:none"></iframe>
                                    <!-- /.modal -->

                                    <div class="bootstrap-table">
                                        <div class="fixed-table-container" data-show-columns="true" style="padding-bottom: 0px;">
                                            <div class="fixed-table-body">
                                                <table data-toggle="" class="table table-bordered" id="tbl_stock">
                                                    <colgroup>
                                                        <col style="width:10px;">
                                                        <col style="width:250px;">
                                                        <col style="width:80px;">
                                                        <col style="width:80px;">
                                                        <col style="width:200px;">
                                                        <col style="width:200px;">
                                                        <col style="width:50px">
                                                        <col>
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th style="" colspan="2">
                                                                <div class="th-inner" style="text-align: center;">Items</div>
                                                            </th>
                                                            <th style="">
                                                                <div class="th-inner ">In-Stock</div>
                                                            </th>
                                                            <th style="">
                                                                <div class="th-inner ">WeGarden</div>
                                                            </th>
                                                            <th style="">
                                                                <div class="th-inner ">Add to WeGarden</div>
                                                            </th>
                                                            <th style="">
                                                                <div class="th-inner ">WeGarden Qty</div>
                                                            </th>
                                                            <th style="text-align: center;">
                                                                <div class="th-inner ">Action</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="table_result">
                                                        <tr data-index="0">
                                                            <td class="user-image" style="width: 10px;border-right: none; "><img src="/images/oisihi_2019042631.jpg" alt="user-img" class="img-circle" width="40px" /></td>
                                                            <td style="line-height: 40px;border-left: none;"><a href="javascript:" class="btn-link">Oishi</a></td>
                                                            <td style="line-height: 40px;">30</td>
                                                            <td style="line-height: 40px;">
                                                                <div class="editRefriLayer" style="display:inline-flex;width: 100%;">
                                                                    <input type="text" maxlength="10" class="form-control input-block input-amt-refri REFRIG_AMT" onkeypress="javascript:return isNumber(event)" onkeyup="javascript:return calculateProductPrice(this)" value="0">
                                                                </div>
                                                            </td>
                                                            <td style="line-height: 40px;">30</td>
                                                            <td style="line-height: 40px;text-align: center;">
                                                                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                        <!--<tr class="total-price">
                                                            <td colspan="4" styl;="border-right: none;"><label>Total Price</label></td>
                                                            <td style="border-right: none;border-left: none;" colspan="3">
                                                                <div style="text-align: left;" id="totalPrice"><label>$30</label></div>
                                                            </td>
                                                        </tr>-->
                                                    </tbody>
                                                    <div class="panel-disabled loading-stock" style="display: none;">
                                                        <div class="loader-1"></div>
                                                    </div>
                                                </table>
                                            </div>
                                            <div class="fixed-table-pagination" style="display: block;">
                                                <div class="pull-right search" style="display: inline-flex;">
                                                    <button id="btnSaveRefrigerator" class="btn btn-success  " style="margin-left: -5px;margin-top: 20px;"><i class="m-r-5">Save WeGarden</i></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>


                    </div> <!-- container -->

                </div> <!-- content -->

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
            <!--<th:block layout:fragment="myscript">-->
            <script type="text/javascript">
                var _thisPage = {};
                var _this = this;
                $(function(){
                    _thisPage.onload();
                });

                function addCurrencySymbol(value_){
                    value_ = wegarden.comm.null2Void(value_, '0');
                    var isEmpty = wegarden.comm.isEmpty(value_);
                    var formatValue = wegarden.comm.formatCurrency(value_);

                    if(!isEmpty && value_ != "0"){
                        return formatValue = "$"+formatValue;
                    }else{
                        return formatValue;
                    }
                }

                function isNumber(evt) {
                    var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                    if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57) )
                        return false;

                    return true;
                }

                function validateBorderInputColor(validate, callback) {
                    var hasEmptyTextbox = false;

                    $('input').each(function () {
                        if (validate) {
                            if ($.trim($(this).val()) == "" && $(this).prop('required')) {
                                $(this).css("background-color", "#f9dfd8");
                                hasEmptyTextbox = true
                            }else{
                                $(this).css("background-color", "white");
                            }
                        }else{
                            $(this).css("border", "2px solid lightgrey");
                        }
                    });

                    if (validate) {
                        callback(hasEmptyTextbox);
                    }
                }


                _thisPage.fillTable =function (input) {
                    if (!input) input = {};

                    $.ajax({
                        type    : "GET",
                        url     : url_context+"/refrigerator/get_refrigerator_list",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success: function (result) {
                            $("#table_result").empty();
                            var html;
                            if (!wegarden.comm.isEmpty(result.DATA_REC)) {
                                $.each(result.DATA_REC, function (i, v) {
                                    if(v.stock_quantity!=0 || v.refrigerator_quantity!=0){
                                        usr_image = wegarden.comm.isEmpty(v.product_image_name) ? _imageItemDefault : _imageApiUrl+wegarden.comm.null2Void(v.product_image_name, '');

                                        html+='<tr class="tr_refrig" data-uuid="'+v.product_uuid+'" >';
                                        html+='	<td class="user-image" style="width: 10px;border-right: none; "><img src="'+usr_image+'" alt="user-img" class="img-circle" width="40px" height="40px" /></td>';
                                        html+='	<td style="line-height: 40px;border-left: none;">'+wegarden.comm.null2Void(v.product_name)+'</td>';
                                        html+='	<td style="line-height: 40px;">'+wegarden.comm.null2Void(v.stock_quantity)+'</td>';
                                        html+='	<td style="line-height: 40px;">'+wegarden.comm.null2Void(v.refrigerator_quantity)+'</td>';
                                        html+='	<td style="line-height: 40px;">';
                                        html+='	    <div class="editRefriLayer" style="display:inline-flex;width: 100%;">';
                                        html+='	        <input type="text" maxlength="10" class="form-control input-block input-amt-refri REFRI_AMT" onkeyup="javascript:return calculateStockQty(this)" value="0">';
                                        // onkeydown="wegarden.comm.numberOnly(event)"
                                        html+='	    </div>';
                                        html+='	</td>';
                                        html+='	<td style="line-height: 40px;">'+wegarden.comm.null2Void(v.refrigerator_quantity)+'</td>';
                                        html+='	<td style="line-height: 40px;text-align: center;">';
                                        html+='	    <button type="button" id="btnReadProduct" class="btn btn-primary btn-xs"><i class="fa fa-eye" aria-hidden="true"></i></button>';
                                        html+='	</td>';
                                        html+='</tr>';
                                    }

                                });

                                $("#table_result").append(html);

                            } else {
                                $("#table_result").append("<tr><td class='text-center' colspan='5'>There is no data.</td></tr>");
                            }
                        },
                        error: function (error) {
                            console.log(error);
                            $("#table_result").append("<tr><td class='text-center' colspan='6'>There is no data.</td></tr>");
                        }
                    });
                };


                function calculateStockQty(this_){
                    var newStock  = 0;
                    var addNewQty = wegarden.comm.null2Void($(this_).val().trim(), 0);
                    var oldQty    =parseInt(wegarden.comm.null2Void($(this_).closest("td").prev().text(), 0));

                     newStock  =  parseInt(addNewQty)+ parseInt(oldQty);
                    $(this_).closest("td").next().text(newStock);

                }

                _thisPage.onload = function(){
                    top.$("#loading").show();
                    _thisPage.fillTable();
                    setTimeout(function () {
                        top.$("#loading").hide();
                    }, 300);
                };

                $(document).on("click", "#btnSaveRefrigerator", function () {
                    var input = {};
                    var inRec = [];
                    $("#table_result tr").each(function (i, v) {
                        var obj = {};
                        obj["PRO_UUID"]  = wegarden.comm.null2Void($(this).data('uuid'), '');
                        obj["REFRI_AMT"] = parseFloat(wegarden.comm.null2Void($(this).find('input.REFRI_AMT').val(), 0));

                        if (obj.REFRI_AMT!=0){
                            inRec.push(obj);
                        }
                    });
                    input["IN_REC"] = inRec;
                    _thisPage.saveRefrigerator(input, this);

                });

               _thisPage.saveRefrigerator=function (input, this_) {
                    if (!input) input = {};
                    $('.loading-stock').show();
                    $.ajax({
                        type: "POST",
                        url: url_context+"/refrigerator/refrigerator_save",
                        data: JSON.stringify(input),
                        headers: {
                            "Content-Type": "application/json;",
                            "charset": "UTF-8"
                        },
                        success: function (result) {
                            // 20-19-07-10 --> remove notification()
                            // notification();
                            setTimeout(function () {
                                $('.loading-stock').hide();
                                _thisPage.onload();
                            }, 300);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                };


                $("#btnCheckReport").click(function () {
                    var input = {};
                    input["STATUS"] = "R";
                    _thisPage.fn_chooseDate();
                    open_popup(input);
                });

                $(document).on("click", "#btnReadProduct", function () {
                    var input = {};
                    input["STATUS"] = "P";
                    input["PRO_UUID"] = $(this).closest("tr").data("uuid");
                    open_popup(input);
                });
                $(document).on("dblclick", ".tr_refrig", function () {
                    var input = {};
                    input["STATUS"] = "P";
                    input["PRO_UUID"] = $(this).closest("tr").data("uuid");
                    open_popup(input);
                });

                $(document).on("click", "#btnReadProduct", function () {
                    var input = {};
                    input["STATUS"] = "P";
                    input["PRO_UUID"] = $(this).closest("tr").data("uuid");
                    open_popup(input);
                });

                $(document).on("change", "#eDate input", function () {
                    _thisPage.fillRefrigeratorBetweenDate();
                });

                $(document).on("keyup", ".REFRI_AMT", function (e) {
                    // $(this).val(wegarden.comm.numberWithCommas(wegarden.comm.removeAllCommas($(this).val())));
                });

                function open_popup(input_){
                    if(!input_) input_ = {};
                    $('#con-close-modal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    $('#con-close-modal').modal('show');
                    if(input_.STATUS == "R"){
                        $("#modal_product").hide();
                        $("#modal_report").show();
                        _thisPage.fillRefrigeratorBetweenDate(input_);
                    }else{
                        $("#modal_report").hide();
                        $("#modal_product").show();
                       _thisPage.searchProductRow(input_);
                    }
                }

                _thisPage.searchProductRow =function (input) {
                    if(!input) input = {};
                    input["PRO_UUID"] = input.PRO_UUID;

                    $.ajax({
                        type    : "GET",
                        url       : url_context+"/product/get_product_list",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success : function (result) {
                            $.each(result.DATA_REC, function (i,v) {
                                $("#pro_nm").val(wegarden.comm.null2Void(v.product_name));
                                $("#pro_price").val(addCurrencySymbol(wegarden.comm.null2Void(v.product_price)));
                                $("#pro_quantity").val(wegarden.comm.null2Void(v.quantity_per_box,0));
                                $("#myImage").attr("src", _imageApiUrl+wegarden.comm.null2Void(v.product_image_name));
                                $("#pro_category option[data-uuid='"+v.category_uuid+"']").attr("selected","selected");

                            });
                        },
                        error: function (error) {
                            console.log(error);
                            $("#table_result").append("<tr><td class='text-center' colspan='9'>There is no data.</td></tr>");
                        }
                    });
                };

               _thisPage.fillRefrigeratorBetweenDate= function (input) {
                    if (!input) input = {};
                    $(".loading-stock-pop").show();
                    input["START_DATE"] = $.trim($("#sDate input").val());
                    input["END_DATE"]    = $.trim($("#eDate input").val());

                    $.ajax({
                        type    : "GET",
                        url     : url_context+"/refrigerator/get_report_refrigerator_list",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success: function (result) {
                            $("#tbl_report tbody").empty();
                            var strReport = "", usr_image = "";
                            if(!wegarden.comm.isEmpty(result.DATA_REC)){
                                $.each(result.DATA_REC, function (i,v) {
                                    usr_image = wegarden.comm.isEmpty(v.product_image_name) ? _imageItemDefault : _imageApiUrl+wegarden.comm.null2Void(v.product_image_name, '');

                                    strReport += '<tr data-row="'+wegarden.comm.null2Void(v.product_uuid)+'">';
                                    strReport += '    <td class="user-image" style="width: 10px;border-right: none; "><img src="'+usr_image+'" alt="user-img" class="img-circle" width="40px" /></td>';
                                    strReport += '    <td style="border-left: none;line-height: 40px;">'+wegarden.comm.null2Void(v.product_name)+'</td>';
                                    strReport += '    <td style="line-height: 40px;">'+addCurrencySymbol(Number(v.product_price).toFixed(2))+'</td>';
                                    strReport += '    <td style="line-height: 40px;">'+wegarden.comm.null2Void(v.stock_in_quantity)+'</td>';
                                    strReport += '</tr>';
                                });
                                $("#tbl_report tbody").html(strReport);

                            }else{
                                $("#tbl_report tbody").append('<tr><td class="text-center" colspan="4">There is no data.</td></tr>');
                            }
                            setTimeout(function () {
                                $(".loading-stock-pop").hide();
                            }, 500);

                        },
                        error: function (error) {
                            console.log(error);
                            $("#tbl_report tbody").append('<tr><td class="text-center" colspan="4">There is no data.</td></tr>');
                        }
                    });
                };


               _thisPage.fn_chooseDate=function(){

                        var today	    = new Date();
                        var firstDay    = new Date(today.getFullYear(), today.getMonth());
                        var lastDay     = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                        var startDate   = (firstDay.getFullYear())+ '-'+strpad00(today.getMonth()+ 1)+'-' +strpad00(firstDay.getDate(),1);
                        var endDate     = (lastDay.getFullYear())	+ '-'+strpad00(today.getMonth()+ 1)+ '-'+strpad00(lastDay.getDate());

                        $("#sDate input").val(startDate);
                        $("#eDate input").val(endDate);
                       $('#sDate').datetimepicker({
                           weekStart: 1,
                           todayBtn:  1,
                           autoclose: 1,
                           todayHighlight: 1,
                           startView: 2,
                           minView: 2,
                           forceParse: 0

                       });
                       $('#eDate').datetimepicker({
                           weekStart: 1,
                           todayBtn:  1,
                           autoclose: 1,
                           todayHighlight: 1,
                           startView: 2,
                           minView: 2,
                           forceParse: 0
                       });


                       function strpad00(s){
                            s = s + '';
                            if (s.length === 1) s = '0'+s;
                            return s;
                        }
                };

                function notification() {
                    var input={"title":"ITEM ADDED","message":"WeGarden has been added new item!"};
                    $.ajax({
                        type    : "POST",
                        url     : "http://192.168.178.162:8080/wegardenapi/notification/send_all",
                        data    : JSON.stringify(input),
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success: function (result) {
                            // console.log("result:: "+result);
                        },
                        error: function (error) {
                            console.log(error.message);
                        }
                    });
                }

                $(document).on("keyup",function (e) {
                    if (e.key === "Escape") {
                        $(".close").trigger("click");
                    }

                });

            </script>
            <!--</th:block>-->
        </div>

    </body>
</html>