<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="User-List"></title>
    <style type="text/css">
        .modal-custom{margin-left: 78px;width: 34em;}
        .control-label-custom{margin-top: 5px;margin-bottom: 0;}
        .id-custom{font-family: -webkit-body;font-size: 0.9em;opacity: 0.5;}
        .label-balance{margin-top: 5px;margin-bottom: 5px;display: block;text-align: right;}
        .label-topup{margin-top: 5px;margin-bottom: 5px;font-family: -webkit-body;font-size: 0.8em;opacity: 0.6;}
        .card-box1{height: 90px;background-color: #b5f5ff;cursor: pointer;display: block;}
        .card-box1:hover{height: 90px;background-color: #93e7ff;cursor: pointer;}
        .card-selected{background-color: #34d3eb;}
        .txt-topup-amt{margin: 0 auto;line-height: 45px;padding: 0;color: #444;font-weight: 1000 !important;}
        .btn-topup{width: 100%;background-color: #b5f5ff !important;border: 1px solid #b5f5ff !important;color: #444 !important;font-weight: 900;height: 40px}

        .btn-custom-color{ background-color: #5fbeaa !important;border: 1px solid #5fbeaa !important; }
        .btn-custom-color:hover{ background-color: #5fbeaa !important;border: 1px solid #5fbeaa !important; }
        .btn-custom-color:focus{ background-color: #5fbeaa !important;border: 1px solid #5fbeaa !important; }
    </style>
</head>
<body>
<!-- Begin page -->
<div layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <!--Custom Toolbar-->
                <!--===================================================-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"><b>User List</b></h4>
                            <p class="text-muted font-13">
                                All users from whole company.
                            </p>

                            <!--<button id="demo-delete-row" class="btn btn-danger"><i class="fa fa-times m-r-5"></i>Delete</button>-->
                            <div class="fixed-table-toolbar">
                                <div class="bars pull-left">
                                    <!--<button id="" class="btn btn-danger"><i class="fa fa-times m-r-5"></i>Delete</button>-->
                                    <!--<button id="" class="btn btn-info"><i class="fa fa-plus m-r-5" style="margin-left: 10px;"></i>Add</button>-->
                                </div>
                                <div class="pull-right search" style="display: inline-flex;">
                                    <input class="form-control" type="text" placeholder="Search" autocomplete="off" id="srch_wd">
                                    <button id="demo-search-row" class="btn btn-warning btn-custom-color" style="margin-left: -5px;" onclick="_thisPage.fillTable();"><i class="fa fa-search m-r-5"></i></button>
                                </div>
                            </div>

                            <!--modal-->
                            <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content modal-custom">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="txtSave" data-status="I" data-uuid="">Top Up</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="/images/b-tou.png" alt="image" id="userImage" class="img-responsive img-rounded" width="200">
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="media-body">
                                                        <h4 for="pro_category" class="control-label control-label-custom">
                                                            <label id="userName">Lay Bunnavitou</label>
                                                        </h4>
                                                        <div class="name-id id-custom">
                                                            <span>ID:</span>
                                                            <span id="userId">000143</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label label-balance" id="userBalance">$100.50</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="media-body" style="padding: 27px 0 0;">
                                                        <h5 for="pro_category" class="control-label label-topup">Top Up Amount</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="2">$2</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="4">$4</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="5">$5</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="10">$10</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="15">$15</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="20">$20</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="25">$25</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="30">$30</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="40">$40</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info btn-topup" data-dismiss="modal"  id="btnSaveTopup">Top Up</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.modal -->

                            <div class="bootstrap-table">
                                <div class="fixed-table-container" data-show-columns="true" style="padding-bottom: 0px;">
                                    <div class="fixed-table-body">
                                        <table data-toggle="" class="table-bordered table table-hover" id="tbl_user">
                                            <colgroup>
                                                <col style="width:10px;">
                                                <col style="width:10px;">
                                                <col>
                                                <col style="width:5px;">
                                                <col style="width:200px;">
                                                <col style="width:200px;">
                                                <col style="width:50px">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th class="bs-checkbox " style="display: none;">
                                                    <div class="th-inner "><input name="btSelectAll" type="checkbox" id="btSelectAll"></div>
                                                </th>
                                                <th style="" colspan="2">
                                                    <div class="th-inner ">ID Card Number</div>
                                                </th>
                                                <th style="">
                                                    <div class="th-inner ">Name</div>
                                                </th>
                                                <!--<th style="width: 5%;">
                                                    <div class="th-inner ">Gender</div>
                                                </th>
                                                <th style="width: 20%;text-align: center; ">
                                                    <div class="th-inner ">Duty</div>
                                                </th>-->
                                                <th style="text-align: center; ">
                                                    <div class="th-inner ">Credit Balance</div>
                                                </th>
                                                <th style="text-align: center; ">
                                                    <div class="th-inner ">Department</div>
                                                </th>
                                                <th style="text-align: center; ">
                                                    <div class="th-inner ">Team</div>
                                                </th>
                                                <th style="text-align: center; ">
                                                    <div class="th-inner ">Action</div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="table_result">

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="fixed-table-pagination">
                                        <div class="pull-left pagination-detail" id="page_layer">
                                            <!--<span class="pagination-info" id="pagination-info">Showing 1 to 10 of 16 rows</span>-->
                                            <span class="page-list">
                                              <span class="btn-group dropup">
                                                 <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
                                                     <span class="page-size" id="per_page">10</span> <span class="caret"></span>
                                                 </button>
                                                 <ul class="dropdown-menu" role="menu" id="pageSizeLayer">
                                                     <li><a href="javascript:void(0)">5</a></li>
                                                    <li class="active"><a href="javascript:void(0)">10</a></li>
                                                    <li><a href="javascript:void(0)">25</a></li>
                                                 </ul>
                                              </span>
                                              <!--records per page-->
                                            </span>
                                        </div>
                                        <div class="pull-right pagination">
                                            <ul class="pagination" id="paging" style="display: none;">
                                                <li class="page-first disabled"><a href="javascript:void(0)">«</a></li>
                                                <li class="page-pre disabled"><a href="javascript:void(0)">‹</a></li>
                                                <li class="page-number active"><a href="javascript:void(0)">1</a></li>
                                                <li class="page-number"><a href="javascript:void(0)">2</a></li>
                                                <li class="page-next"><a href="javascript:void(0)">›</a></li>
                                                <li class="page-last"><a href="javascript:void(0)">»</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>


            </div> <!-- container -->

        </div> <!-- content -->

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

    <!--<th:block layout:fragment="myscript">-->
        <script type="text/javascript">

            var _page_no = 1;
            var _userUuid = "";
            $(function(){
                _thisPage.onload();
            });

            var _thisPage = {
                onload : function () {
                    var _this = this;
                    _this.event();
                    _this.fillTable();
                    wegarden.comm.checkAllTblChk("btSelectAll", "tbl_user", "bs-checkbox");

                },
                fillTable : function (input) {
                    $("#loading").show();
                    if(!input) input = {};
                    console.log(input)
                    if(!input["PAGE_NO"]){
                        var page_no = 1
                    }else{
                        var page_no = input["PAGE_NO"];
                    }
                    var page_size = $("#per_page").text();
                    input["PAGE_NO"] = page_no;
                    input["LIMIT"]       = page_size;
                    input["SRCH_WD"] = $("#srch_wd").val().trim();

                    console.log(input);
                    $.ajax({
                        type    : "GET",
                        url       : "/users/get_user_list",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success : function (result) {
                            $("#table_result").empty();
                            // $(".bs-checkbox").show();
                            $("#page_layer").show();
                            $(".bs-checkbox").attr("checked", false);
                            var strHtml = "", usr_image = "";


                            if(!wegarden.comm.isEmpty(result.DATA_REC)){
                                $.each(result.DATA_REC, function (i, v) {
                                    usr_image = wegarden.comm.isEmpty(v.user_image) ? "/images/default_user.png" : _imageApiUrl + wegarden.comm.null2Void(v.user_image, '');

                                    strHtml += '<tr data-index="'+(i+1)+'">';
                                    strHtml += '    <td class="bs-checkbox" style="display: none;"><input data-index="0" name="btSelectItem" type="checkbox"></td>';
                                    strHtml += '    <td class="user-image" style="width: 10px;border-right: none; ">';
                                    strHtml += '        <img src="'+usr_image+'" alt="user-img" class="img-circle" width="40px" height="40px" /></td>';
                                    strHtml += '    <td style="border-left: none;"><a href="#" class="btn-link">#########</a></td>';
                                    strHtml += '    <td style="">'+wegarden.comm.null2Void(v.user_en_name, '')+'</td>';
                                    // strHtml += '    <td style="">'+wegarden.comm.null2Void(v.user_gender, '')+'</td>';
                                    // strHtml += '    <td style="text-align: center; "><div class="">'+wegarden.comm.null2Void(v.user_duty, '')+'</div></td>';
                                    strHtml += '    <td style="text-align: center; ">'+addCurrencySymbol(Number(v.user_credit_balance).toFixed(2))+'</td>';
                                    strHtml += '    <td style="text-align: center; ">'+wegarden.comm.null2Void(v.department_uuid, '')+'</td>';
                                    strHtml += '    <td style="text-align: center; ">'+wegarden.comm.null2Void(v.team_name, '')+'</td>';
                                    strHtml +='    <td style="line-height: 40px;" class="act_btn text-center">';
                                    strHtml +='      <button type="button" class="btn btn-primary btn-xs" onclick=open_popup("'+v.user_uuid+'");><i class="fa fa-plus" aria-hidden="true"></i></button>';
                                    strHtml +='    </td>';
                                    strHtml += '</tr>';
                                });
                                $("#table_result").append(strHtml);
                            }else{
                                $(".bs-checkbox").hide();
                                $("#page_layer").hide();
                                $("#table_result").append("<tr><td class='text-center' colspan='9'>There is no data.</td></tr>");
                            }

                            // wegarden.comm.renderPaging("paging", page_size, result.CNT_REC, _page_no);
                            // tms.ui.drawTablePaing("CREATE_PG_LINK", _ppay_2001_01.fillTable, input["PAGE_NO"], data.CNT, input["PAGE_SIZE"],input);
                            wegarden.comm.drawTablePaging("paging", _thisPage.fillTable, page_no, result.CNT_REC, page_size, input);

                            setTimeout(function () {
                                $("#loading").hide();
                            }, 300);

                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },
                saveTopupAmount : function (input) {
                    $("#loading").show();

                    $.ajax({
                        type    : "GET",
                        url       : "/users/user_update_balance",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success : function (result) {
                            swal({
                                title: "Successful",
                                text: "Your transaction has been topup successfully !",
                                type: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            _thisPage.fillTable();
                            _thisPage.notificationTopUpMoney(input);
                            setTimeout(function () {
                                $("#loading").hide();
                            }, 300);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },
                notificationTopUpMoney: function (input) {
                    if(!input) input = {};
                    input["user_uuid"] = input.USER_UUID;
                    input["title"]          = "MOENY TOP UP";
                    input["message"]   = "$"+input.TRANSACTION_AMOUNT+" has been topped up to your account !";
                    console.log(input)

                    $.ajax({
                        type    : "POST",
                        url       : "http://192.168.178.162:8080/wegarden/notification/send",
                        data    : JSON.stringify(input),
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success: function (result) {
                            console.log("result:: "+result);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },
                getUserCreditBalance : function (input) {
                    // top.$("#loading").show();
                    if(!input) input = {};

                    input["PAGE_NO"] = 1;
                    input["LIMIT"]       = 1;
                    input["SRCH_WD"] = '';
                    input["USER_UUID"] = input.USER_UUID;

                    $.ajax({
                        type    : "GET",
                        url       : "/users/get_user_list",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success : function (result) {
                            console.log(result.DATA_REC);
                            var userSrc = "";
                            $.each(result.DATA_REC, function (i,v) {
                                $("#userName").text(wegarden.comm.null2Void(v.user_en_name, ''));
                                wegarden.comm.isEmpty(v.user_image, '') ? userSrc = '/images/default_user.png' : userSrc = _imageApiUrl + wegarden.comm.null2Void(v.user_image, '');
                                $("#userImage").attr('src',userSrc);
                                $("#userBalance").text(addCurrencySymbol(Number(v.user_credit_balance).toFixed(2)));
                            });
                            setTimeout(function () {
                                $("#loading").hide();
                            }, 300);

                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },
                event : function () {
                    $("#pageSizeLayer li a").on("click", function () {
                        var per_page = $(this).text();
                        $("#per_page").text(per_page);
                        $("#pageSizeLayer li").removeClass("active");
                        $(this).parent().addClass("active");
                        _thisPage.fillTable();
                    });

                    $("#srch_wd").keypress(function (e) {
                        if(e.which == 13){
                            _thisPage.fillTable();
                        }
                    });

                    $(document).on("click", ".btnCardClick", function () {
                        $(".btnCardClick").removeClass('card-selected');
                        $(this).addClass('card-selected');
                    });

                    $(document).on("change", "#per_page", function () {
                        $("#pagination-info").html('card-selected');
                    });

                    $(document).on("click", "#btnSaveTopup", function () {
                        var input = {};
                        var amtTopup = $(".card-selected").find('p.counter').data("amount");
                        if(!amtTopup) return;
                        input["TRANSACTION_AMOUNT"] = amtTopup;
                        input["TRANSACTION_TYPE"] = "+";
                        input["USER_UUID"] = _userUuid;
                        _thisPage.saveTopupAmount(input);
                    });


                }
            }

            function open_popup(input_){
                $('#con-close-modal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $('#con-close-modal').modal('show');
                $(".btnCardClick").removeClass('card-selected');
                var input = {};
                input["USER_UUID"] = input_;
                _userUuid = input_;
                _thisPage.getUserCreditBalance(input);
            }

            function addCurrencySymbol(value_){
                value_ = wegarden.comm.null2Void(value_, '0');
                var isEmpty = wegarden.comm.isEmpty(value_);
                var formatValue = wegarden.comm.formatCurrency(value_);

                if(!isEmpty && value_ != "0" && value_ != "0.00"){
                    return formatValue = "$"+formatValue;
                }else{
                    return formatValue;
                }
            }

        </script>
    <!--</th:block>-->
</div>

</body>
</html>