<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="User-List"></title>
    <style type="text/css">
        .modal-custom{margin-left: 78px;width: 34em;}
        .control-label-custom{margin-top: 5px;margin-bottom: 0;}
        .id-custom{font-family: -webkit-body;font-size: 0.9em;opacity: 0.5;}
        .label-balance{margin-top: 5px;margin-bottom: 5px;display: block;text-align: right;}
        .label-topup{margin-top: 5px;margin-bottom: 5px;font-family: -webkit-body;font-size: 0.8em;opacity: 0.6;}
        .card-box1{height: 90px;background-color: #b5f5ff;cursor: pointer;display: block;}
        .card-box1:hover{height: 90px;background-color: #93e7ff;cursor: pointer;}
        .card-selected{background-color: #34d3eb;}
        .txt-topup-amt{margin: 0 auto;line-height: 45px;padding: 0;color: #444;font-weight: 1000 !important;}
        .btn-topup{width: 100%;background-color: #b5f5ff !important;border: 1px solid #b5f5ff !important;color: #444 !important;font-weight: 900;height: 40px}

        .btn-custom-color{ background-color: #5fbeaa !important;border: 1px solid #5fbeaa !important; }
        .btn-custom-color:hover{ background-color: #5fbeaa !important;border: 1px solid #5fbeaa !important; }
        .btn-custom-color:focus{ background-color: #5fbeaa !important;border: 1px solid #5fbeaa !important; }
        #table_result tr.userRow{ cursor: pointer; }

        .modal-custom-img {display: none;position: fixed;z-index: 9999999;padding-top: 75px;left: -80px;top: 0;width: 100%;height: 100%;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.3); }
        /* Modal Content (image) */
        .modal-content-custom { margin: auto;display: block;width: 100%;max-width: 700px;height: 95%; }
        /* Caption of Modal Image */
        #caption { margin: auto;display: block;width: 100%;max-width: 700px;text-align: center;color: #ccc;padding: 10px 0;height: 140px; }
        /* Add Animation */
        .modal-content-custom, #caption { -webkit-animation-name: zoom;-webkit-animation-duration: 0.6s;animation-name: zoom;animation-duration: 0.6s; }
        .close-custom { position: absolute;top: 8%;right: 30%;color: #080808;font-size: 50px;font-weight: bolder;transition: 0.3s; }
        .close-custom:hover, .close-custom:focus { color: #bbb;text-decoration: none;cursor: pointer; }

        @-webkit-keyframes zoom {
            from {-webkit-transform:scale(0)}
            to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
            from {transform:scale(0)}
            to {transform:scale(1)}
        }

        .bootstrap-tagsinput { background-color: #fff;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);display: inline-block;padding: 4px 6px;color: #555;vertical-align: middle;border-radius: 4px;max-width: 100%;line-height: 22px;cursor: text;border: none; }
        .combo-role { margin-top: 5px;padding: 0;width: 135px;height: 22px;font-size: 0.89999em;opacity: 0.68888;}
        .combo-role:hover { opacity: 1; }
        .combo-team{ margin-top: 15px;padding: 0;width: 135px;height: 24px;font-size: 0.89999em;opacity: 0.68888;}
        .line-height-50{line-height: 50px !important;}
    </style>
</head>
<body>
<!-- Begin page -->
<div layout:fragment="content">
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <!--Custom Toolbar-->
                <!--===================================================-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"><b>User List</b></h4>
                            <p class="text-muted font-13">
                                <label>Function: </label> All users who registered to use mobile app from whole company.
                            </p>

                            <!--<button id="demo-delete-row" class="btn btn-danger"><i class="fa fa-times m-r-5"></i>Delete</button>-->
                            <div class="fixed-table-toolbar">
                                <div class="bars pull-left" style="margin-top: 20px;">
                                    <p class="font-15"><b class="text-muted">TOTAL CREDIT: </b><span id="remainCredit" style="font-weight: bolder;"></span></p>
                                </div>
                                <div class="pull-right search" style="display: inline-flex;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control combo-team" id="teamFilter" style="font-size: 1em;width: 80%;height: 39px;margin-top: 0;float: right">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" style="display: inline-flex;">
                                                <input class="form-control" type="text" placeholder="Search" autocomplete="off" id="srch_wd">
                                                <button id="demo-search-row" class="btn btn-warning btn-custom-color" style="margin-left: -5px;" onclick="_thisPage.fillTable();"><i class="fa fa-search m-r-5"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--modal-->
                            <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content modal-custom">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="txtSave" data-status="I" data-uuid="">Top Up</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="/images/b-tou.png" alt="image" id="userImage" class="img-responsive img-rounded" width="200" height="90" style="height: unset">
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="media-body">
                                                        <h4 for="pro_category" class="control-label control-label-custom">
                                                            <label id="userName">Lay Bunnavitou</label>
                                                        </h4>
                                                        <div class="name-id id-custom" style="display: none;">
                                                            <span>ID:</span>
                                                            <span id="userId">000143</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label label-balance" id="userBalance">$100.50</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="media-body" style="padding: 27px 0 0;">
                                                        <h5 for="pro_category" class="control-label label-topup">Top Up Amount</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="2">$2</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="4">$4</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="5">$5</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="10">$10</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="15">$15</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="20">$20</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="25">$25</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="30">$30</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-box card-box1 btnCardClick waves-effect">
                                                        <div class="text-center">
                                                            <h3 class="txt-topup-amt">
                                                                <p class="counter" data-amount="40">$40</p>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info btn-topup" data-dismiss="modal"  id="btnSaveTopup">Top Up</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.modal -->

                            <div class="bootstrap-table">
                                <div class="fixed-table-container" data-show-columns="true" style="padding-bottom: 0px;">
                                    <div class="fixed-table-body">
                                        <table data-toggle="" class="table-bordered table table-hover" id="tbl_user">
                                            <colgroup>
                                                <col style="width:10px;">
                                                <col>
                                                <col style="width:230px;">
                                                <col style="width:200px;">
                                                <col style="width:200px;">
                                                <col style="width:200px;">
                                                <col style="width:50px">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th class="bs-checkbox " style="display: none;">
                                                    <div class="th-inner "><input name="btSelectAll" type="checkbox" id="btSelectAll"></div>
                                                </th>
                                                <th style="text-align: center;" colspan="2">
                                                    <div class="th-inner ">Name</div>
                                                </th>

                                                <th style="text-align: center; ">
                                                    <div class="th-inner ">Role</div>
                                                </th>

                                                <th style="text-align: center; ">
                                                    <div class="th-inner ">Credit Balance</div>
                                                </th>
                                                <th style="text-align: center; ">
                                                    <div class="th-inner ">Department</div>
                                                </th>
                                                <th style="text-align: center; ">
                                                    <div class="th-inner ">Team</div>
                                                </th>
                                                <th style="text-align: center; ">
                                                    <div class="th-inner ">Action</div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="table_result">

                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="myModalShowImg" class="modal-custom-img">
                                        <span class="close-custom">&times;</span>
                                        <img class="modal-content-custom img-responsive img-thumbnail" id="img01" />
                                        <div id="caption"></div>
                                    </div>
                                    <div class="fixed-table-pagination">
                                        <div class="pull-left pagination-detail" id="page_layer">
                                            <!--<span class="pagination-info" id="pagination-info">Showing 1 to 10 of 16 rows</span>-->
                                            <span class="page-list">
                                              <span class="btn-group dropup">
                                                 <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
                                                     <span class="page-size" id="per_page">10</span> <span class="caret"></span>
                                                 </button>
                                                 <ul class="dropdown-menu" role="menu" id="pageSizeLayer">
                                                     <li><a href="javascript:void(0)">5</a></li>
                                                    <li class="active"><a href="javascript:void(0)">10</a></li>
                                                    <li><a href="javascript:void(0)">25</a></li>
                                                 </ul>
                                              </span>
                                              <!--records per page-->
                                            </span>
                                        </div>
                                        <div class="pull-right pagination">
                                            <ul class="pagination" id="paging" style="display: none;">
                                                <li class="page-first disabled"><a href="javascript:void(0)">«</a></li>
                                                <li class="page-pre disabled"><a href="javascript:void(0)">‹</a></li>
                                                <li class="page-number active"><a href="javascript:void(0)">1</a></li>
                                                <li class="page-number"><a href="javascript:void(0)">2</a></li>
                                                <li class="page-next"><a href="javascript:void(0)">›</a></li>
                                                <li class="page-last"><a href="javascript:void(0)">»</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->

        </div> <!-- content -->

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

    <!--<th:block layout:fragment="myscript">-->
        <script type="text/javascript" th:inline="javascript">

            var _page_no = 1;
            var _userUuid = "";
            $(function(){
                _thisPage.onload();
            });

            var _thisPage = {
                onload : function () {
                    var _this = this;
                    _this.event();
                    _this.setTeamFilter();
                    _this.fillTable();
                    _this.getUserTotalCredit();
                    wegarden.comm.checkAllTblChk("btSelectAll", "tbl_user", "bs-checkbox");

                },
                fillTable : function (input) {
                    $("#loading").show();
                    if(!input) input = {};
                    if(!input["PAGE_NO"]){
                        var page_no = 1
                    }else{
                        var page_no = input["PAGE_NO"];
                    }

                    var page_size = $("#per_page").text();
                    var teamUuid  = $("#teamFilter option:selected").val();
                    input["PAGE_NO"] = page_no;
                    input["LIMIT"]   = page_size;
                    input["SRCH_WD"] = $("#srch_wd").val().trim();
                    input["TEAM_UUID"] = (teamUuid == "0") ? "" : teamUuid;

                    $.ajax({
                        type    : "GET",
                        url       : url_context+"/users/get_user_list",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success : function (result) {
                            renderUser(result.DATA_REC, result.CNT_REC, input);
                        },
                        error: function (error) {
                            $("#loading").hide();
                            console.log(error);
                        }
                    });
                },
                fillTableByTeam : function (input) {
                    $("#loading").show();
                    if(!input) input = {};
                    if(!input["PAGE_NO"]){
                        var page_no = 1
                    }else{
                        var page_no = input["PAGE_NO"];
                    }
                    var page_size = $("#per_page").text();
                    input["PAGE_NO"] = page_no;
                    input["LIMIT"]   = page_size;
                    input["SRCH_WD"] = $("#srch_wd").val().trim();

                    $.ajax({
                        type    : "GET",
                        url       : url_context+"/users/get_user_list",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success : function (result) {
                            renderUser(result.DATA_REC, result.CNT_REC, input);
                        },
                        error: function (error) {
                            $("#loading").hide();
                            console.log(error);
                        }
                    });
                },
                getUserTotalCredit : function (input) {
                    $.ajax({
                        type    : "GET",
                        url     : url_context+"/users/get_user_total_credit",
                        data    : {},
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success : function (result) {
                            $("#remainCredit").text(addCurrencySymbol(result.REMAINING_CREDIT.toFixed(3)));
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },
                saveTopupAmount : function (input) {
                    $("#loading").show();

                    $.ajax({
                        type    : "GET",
                        url       : url_context+"/users/user_update_balance",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success : function (result) {
                            swal({
                                title: "Successful",
                                text: "Your transaction has been topup successfully !",
                                type: "success",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            _thisPage.fillTable();
                            _thisPage.notificationTopUpMoney(input);
                            setTimeout(function () {
                                $("#loading").hide();
                            }, 300);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },
                notificationTopUpMoney: function (input) {
                    if(!input) input = {};
                    input["user_uuid"] = input.USER_UUID;
                    input["title"]          = "MONEY TOP UP";
                    input["message"]   = "$"+input.TRANSACTION_AMOUNT+" has been topped up to your account !";

                    $.ajax({
                        type    : "POST",
                        url       : "http://192.168.178.162:8080/wegardenapi/notification/send",
                        data    : JSON.stringify(input),
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success: function (result) {
                            // console.log("result:: "+result);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },
                getUserCreditBalance : function (input) {
                    // top.$("#loading").show();
                    if(!input) input = {};

                    input["PAGE_NO"] = 1;
                    input["LIMIT"]       = 1;
                    input["SRCH_WD"] = '';
                    input["USER_UUID"] = input.USER_UUID;

                    $.ajax({
                        type    : "GET",
                        url       : url_context+"/users/get_user_list",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success : function (result) {

                            var userSrc = "";
                            $.each(result.DATA_REC, function (i,v) {
                                $("#userName").text(wegarden.comm.null2Void(v.user_en_name, ''));
                                wegarden.comm.isEmpty(v.user_image, '') ? userSrc = _imageUserDefault : userSrc = _imageApiUrl + wegarden.comm.null2Void(v.user_image, '');
                                $("#userImage").attr('src',userSrc);
                                $("#userBalance").text(addCurrencySymbol(Number(v.user_credit_balance).toFixed(2)));
                            });
                            setTimeout(function () {
                                $("#loading").hide();
                            }, 300);

                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                },
                updateUserRole : function (roleId, userUuid) {
                    top.$("#loading").show();
                    var input = {};

                    input["USER_UUID"] = userUuid;
                    input["ROLE_ID"]      = roleId;

                    $.ajax({
                        type    : "GET",
                        url       : url_context+"/users/update_user_role",
                        data    : input,
                        headers : {
                            "Content-Type"  : "application/json;",
                            "charset"       : "UTF-8"
                        },
                        success : function (result) {
                            top.$("#loading").hide();
                        },
                        error: function (error) {
                            console.log(error);
                            top.$("#loading").hide();
                        }
                    });
                },
                setTeamFilter : function () {
                    var teamList = [[${data}]];
                    var strTeam  = "<option value='0'>ALL</option>";
                    $("#teamFilter").empty();

                    $.each(teamList, function(i,v){
                        strTeam += '<option value="'+wegarden.comm.null2Void(v.team_uuid)+'">'+wegarden.comm.null2Void(v.team_name)+'</option>';
                    });
                    $("#teamFilter").html(strTeam);
                    $("#teamFilter option:eq(0)").attr("selected", true);
                },
                event : function () {
                    $("#pageSizeLayer li a").on("click", function () {
                        var per_page = $(this).text();
                        $("#per_page").text(per_page);
                        $("#pageSizeLayer li").removeClass("active");
                        $(this).parent().addClass("active");
                        _thisPage.fillTable();
                    });

                    $("#srch_wd").keypress(function (e) {
                        if(e.which == 13){
                            _thisPage.fillTable();
                        }
                    });
                    $(document).on("click", ".btnCardClick", function () {
                        $(".btnCardClick").removeClass('card-selected');
                        $(this).addClass('card-selected');
                    });
                    $(document).on("change", "#per_page", function () {
                        $("#pagination-info").html('card-selected');
                    });
                    $(document).on("click", "#btnSaveTopup", function () {
                        var input = {};
                        var amtTopup = $(".card-selected").find('p.counter').data("amount");
                        if(!amtTopup) return;
                        input["TRANSACTION_AMOUNT"] = amtTopup;
                        input["TRANSACTION_TYPE"] = "+";
                        input["USER_UUID"] = _userUuid;
                        _thisPage.saveTopupAmount(input);
                    });
                    $(document).keydown(function(e) {
                        if (e.keyCode === 27) {
                            $('#con-close-modal').modal('hide');
                            $("#myModalShowImg").hide();
                        }
                    });
                    $(document).on("click", ".orderUsrImage", function () {
                        // Get the modal
                        var modal = document.getElementById("myModalShowImg");

                        // Get the image and insert it inside the modal - use its "alt" text as a caption
                        var img             = document.getElementById("myImg");
                        var modalImg   = document.getElementById("img01");
                        var captionText = document.getElementById("caption");
                        if(this.src.indexOf("default_user.png") != -1) return;

                        modal.style.display = "block";
                        modalImg.src            = this.src;
                        captionText.innerHTML = this.alt;
                    });
                    $(document).on("click", ".close-custom", function () {
                        $("#myModalShowImg").hide();
                    });

                    $(document).on("change", ".comBoRole", function () {
                        var role_title = $(this).find('option:selected').text();
                        var role_val   = $(this).find('option:selected').val();
                        var role_leng = $(this).closest("tr").find(".role_layer > span.tag").length;
                        var role_curr = $(this).closest("tr").find(".role_layer > span.tag").text();
                        var role_id    = $(this).closest("tr").find(".role_layer > span.tag");
                        var user_uuid    = $(this).closest("tr").find(".role_layer").data("uuid");

                        if(role_val != "0" && role_leng < 3 && role_curr.indexOf(role_title) == -1){
                            $(this).before('<span class="tag label label-info" data-id='+role_val+'>'+role_title+'<span data-role="remove" class="remove"></span></span>');
                            $.each(role_id, function (i,v) {
                                var roleId = $(this).data("id");
                                role_val += ","+roleId;
                            });
                            $(this).closest("tr").find(".roleId").val(role_val);
                            _thisPage.updateUserRole(role_val, user_uuid)
                        }
                    });

                    $(document).on("click", ".remove", function () {
                        var roleLength  = $(this).closest("tr").find(".role_layer > span.tag").length;
                        var spanId        =  $(this).parent('span.tag').data("id");
                        var roleId         =  $(this).parents(".role_layer").find("input.roleId").val();
                        var user_uuid    = $(this).closest("tr").find(".role_layer").data("uuid");
                        var newVal       = "";

                        if(roleLength > 1){
                            for(var i = 0; i < roleId.split(",").length; i++){
                                if(roleId.split(",")[i] != spanId){
                                    newVal += ","+roleId.split(",")[i];
                                }
                            }

                            $(this).parents(".role_layer").find("input.roleId").val(newVal.substr(1,3));
                            _thisPage.updateUserRole(newVal.substr(1,3), user_uuid);
                            $(this).parent('span.tag').remove();

                        }
                    });

                    $(document).on("change",".cmbo",function () {
                        var input={};
                        input.UUID=$(this).attr("uuId");
                        input.ROLE_ID=$(this).children("option:selected").val();

                        $.ajax({
                            type    : "GET",
                            url       : url_context+"/users/update_user_role",
                            data    : input,
                            headers : {
                                "Content-Type"  : "application/json;",
                                "charset"       : "UTF-8"
                            },
                            success : function (result) {
                                _thisPage.fillTable();

                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });

                    });

                    $(document).on("change",".select-team",function () {
                        var input={};
                        input.user_uuid=$(this).attr("user_uuid");
                        input.team_uuid=$(this).children("option:selected").val();

                        $.ajax({
                            type    : "GET",
                            url       : url_context+"/users/update_user_team",
                            data    : input,
                            headers : {
                                "Content-Type"  : "application/json;",
                                "charset"       : "UTF-8"
                            },
                            success : function (result) {
                              _thisPage.fillTable();
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        });

                    });
                    $(document).on("change","#teamFilter",function () {
                        _thisPage.fillTable();
                    });

                }
            }

            function renderUser(data_rec_, cnt_rec_, input){
                var list = [[${data}]];
                var data_rec = data_rec_;
                var cnt_rec  = cnt_rec_;

                if(!input) input = {};
                if(!input["PAGE_NO"]){
                    var page_no = 1
                }else{
                    var page_no = input["PAGE_NO"];
                }
                var page_size = $("#per_page").text();

                $("#table_result").empty();
                $("#page_layer").show();
                var strHtml = "", usr_image = "";

                if(!wegarden.comm.isEmpty(data_rec)){
                    var each = $.each(data_rec, function (i, v) {
                        usr_image = wegarden.comm.isEmpty(v.user_image) ? _imageUserDefault : _imageApiUrl + wegarden.comm.null2Void(v.user_image, '');

                        strHtml += '<tr data-index="'+(i+1)+'" ondblclick=open_popup("'+v.user_uuid+'"); class="userRow">';
                        strHtml += '    <td class="bs-checkbox line-height-50" style="display: none;"><input data-index="0" name="btSelectItem" type="checkbox"></td>';
                        strHtml += '    <td class="user-image line-height-50" style="width: 10px;border-right: none; ">';
                        strHtml += '        <img src="'+usr_image+'" alt="user-img" class="img-circle orderUsrImage" width="40px" height="40px" /></td>';
                        strHtml += '    <td class="line-height-50">'+wegarden.comm.null2Void(v.user_en_name, '')+'</td>';
                        // strHtml += '    <td style="text-align: center; "><div class="">'+wegarden.comm.null2Void(v.user_duty, '')+'</div></td>';
                        strHtml += '    <td style="text-align: left;">';
                        strHtml += '        <div class="tags-default">';
                        strHtml += '            <div class="bootstrap-tagsinput role_layer" data-uuId='+v.user_uuid+' >';
                        for(var i = 0; i < wegarden.comm.null2Void(v.user_role, "").split(",").length; i++){
                            strHtml += '				<span class="tag label label-info" data-id='+convertRoleToId(wegarden.comm.null2Void(v.user_role, "").split(",")[i])+'>'+wegarden.comm.null2Void(v.user_role, "").split(",")[i]+'<span data-role="remove" class="remove"></span></span>';
                        }
                        strHtml += '				<input type="hidden" class="roleId" value='+convertRoleToId(wegarden.comm.null2Void(v.user_role, ""))+'>';
                        strHtml += '            <select class="form-control comBoRole combo-role">';
                        strHtml += '                <option   value="0">----SELECT----</option>';
                        strHtml += '                <option   value="1">ADMIN</option>';
                        strHtml += '                <option   value="2">USER</option>';
                        strHtml += '                <option   value="3">TEAM_LEADER</option>';
                        strHtml += '                <option   value="4">BRONZE_MASTER</option>';
                        strHtml += '            </select>';
                        strHtml += '			</div>';
                        strHtml += '        </div>';
                        strHtml += '    </td>';
                        strHtml += '    <td style="text-align: center; " class="line-height-50">'+addCurrencySymbol(Number(v.user_credit_balance).toFixed(3))+'</td>';
                        strHtml += '    <td style="text-align: center; " class="line-height-50">'+wegarden.comm.null2Void(v.department_uuid, '')+'</td>';
                        // strHtml += '     <td style="text-align: center; ">'+wegarden.comm.null2Void(v.team_name, '')+'</td>';
                        strHtml += '     <td style="text-align: center; " class="line-height-50">';
                        strHtml += '        <select class="form-control select-team combo-team " user_uuid="'+v.user_uuid+'"   >';
                        for (i = 0; i < list.length; i++) {
                            if(v.team_uuid==list[i].team_uuid){
                                strHtml += '<option selected value="'+list[i].team_uuid+'">'+list[i].team_name+'</option>';
                            }else{
                                strHtml += '<option value="'+list[i].team_uuid+'">'+list[i].team_name+'</option>';
                            }
                        }
                        strHtml += '        </select>';
                        strHtml += '     </td>';
                        strHtml += '     <td style="line-height: 40px;" class="act_btn text-center line-height-50">';
                        strHtml += '       <button type="button" class="btn btn-primary btn-xs" onclick=open_popup("'+v.user_uuid+'");><i class="fa fa-plus" aria-hidden="true"></i></button>';
                        strHtml += '     </td>';
                        strHtml += '</tr>';

                    });

                    $("#table_result").append(strHtml);
                }else{
                    $(".bs-checkbox").hide();
                    $("#page_layer").hide();
                    $("#table_result").append("<tr><td class='text-center' colspan='9'>There is no data.</td></tr>");
                }

                wegarden.comm.drawTablePaging("paging", _thisPage.fillTable, page_no, cnt_rec, page_size, input);
                setTimeout(function () {
                    $("#loading").hide();
                }, 300);
            }

            function open_popup(input_){
                $('#con-close-modal').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $('#con-close-modal').modal('show');
                $(".btnCardClick").removeClass('card-selected');
                var input = {};
                input["USER_UUID"] = input_;
                _userUuid = input_;
                _thisPage.getUserCreditBalance(input);
            }

            function addCurrencySymbol(value_){
                value_ = wegarden.comm.null2Void(value_, '0');
                var isEmpty = wegarden.comm.isEmpty(value_);
                var formatValue = wegarden.comm.formatCurrency(value_);

                if(!isEmpty && value_ != "0" && value_ != "0.00" && value_ != "0.000"){
                    return formatValue = "$"+formatValue;
                }else{
                    return formatValue;
                }
            }

            function convertRoleToId(role_){
                if(role_ != "null" || !wegarden.comm.isEmpty(role_)){
                    if(role_.indexOf("ADMIN") > -1){
                        role_ = role_.replace("ADMIN", "1");
                    }

                    if(role_.indexOf("USER") > -1){
                        role_ = role_.replace("USER", "2");
                    }

                    if(role_.indexOf("TEAM_LEADER") > -1){
                        role_ = role_.replace("TEAM_LEADER", "3");
                    }

                    if(role_.indexOf("BRONZE_MASTER") > -1){
                        role_ = role_.replace("BRONZE_MASTER", "4");
                    }
                    return role_;
                }
            }



        </script>
    <!--</th:block>-->
</div>

</body>
</html>